.jumbotron{
    font-family:  'Montserrat', sans-serif;
    background: none;
}

.body{
    font-family:  'Montserrat', sans-serif;
    background-image: url("../images/inflicted.png");
    background-repeat: repeat;
}

body, html {
    height: 100%;
    color: darkgray;
  }

.bg{
    background-image: url("../images/inflicted.png");
    background-repeat: repeat;
  }

  #game{
    margin-left: 3%;
  }