.jumbotron{
    font-family:  'Montserrat', sans-serif;
    background: none;
}

.body{
    font-family:  'Montserrat', sans-serif;
}

body, html {
    height: 100%;
    color: darkgray;
  }

.bg{
    background-image: url("../images/inflicted.png");
    /* height: ;
     
    background-position: center;
    background-repeat: repeat;
    background-size: cover; */
  }